<!DOCTYPE html>
<html>
  <head>
    <title>Centre Edit</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div id="dashBoard">
      <button
        class="mdc-button mdc-button--raised"
        onclick="location.href='/dashboard'"
      >
        <span class="mdc-button__ripple"></span>Dashboard
      </button>
    </div>

    <img src="/images/raffleskidz.jpg" id="brandLogoImage" alt="Image" />

    <div class="centreEditContainer">
      <div class="mdc-card demo-card">
        <div
          class="mdc-card__primary-action demo-card__primary-action"
          tabindex="0"
        >
          <div
            class="mdc-card__media mdc-card__media--16-9 demo-card__media"
            style='background-image: url("<%= centre.img %>");'
          ></div>
          <form
            action="/raffleskidz/centres/<%= centre.id %>?_method=PUT"
            method="POST"
          >
            <table align="center">
              <P></P>
              <tr>
                <td><label> Name </label></td>
                <td>
                  <div class="mdc-text-field">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="name"
                      name="name"
                      value="<%= centre.name %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="name" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Address </label></td>
                <td>
                  <div class="mdc-text-field">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="address"
                      name="address"
                      value="<%= centre.address %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="address" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Description </label></td>
                <td>
                  <div class="mdc-text-field">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="description"
                      name="description"
                      value="<%= centre.description %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="description" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> School Fee </label></td>
                <td>
                  <div class="mdc-text-field">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="fee"
                      name="fee"
                      value="<%= centre.fee %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="fee" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Capacity </label></td>
                <td>
                  <div class="mdc-text-field">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="capacity"
                      name="capacity"
                      value="<%= centre.capacity %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="capacity" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                  <P></P>
                  <button
                    type="submit"
                    class="mdc-button mdc-button--raised"
                    id="submit"
                  >
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Submit</span>
                  </button>
                  <P></P>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
