<!DOCTYPE html>
<html>
  <head>
    <title>Employee Edit</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div id="dashBoard">
      <button
        class="mdc-button mdc-button--raised"
        onclick="location.href='/dashboard'"
      >
        <span class="mdc-button__ripple"></span>Dashboard
      </button>
    </div>

    <img src="/images/raffleskidz.jpg" id="brandLogoImage" alt="Image" />

    <div class="employeeEditContainer">
      <div class="mdc-card demo-card">
        <div
          class="mdc-card__primary-action demo-card__primary-action"
          tabindex="0"
        >
          <div
            class="mdc-card__media mdc-card__media--square demo-card__media"
            style='background-image: url("<%= employee.img %>");'
          ></div>
          <form
            action="/raffleskidz/employees/<%= employee.id %>?_method=PUT"
            method="POST"
          >
            <table align="center">
              <P></P>
              <tr>
                <td><label> Name </label></td>
                <td>
                  <div class="mdc-text-field text-field-width">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="name"
                      name="name"
                      value="<%= employee.name %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="name" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Centre </label></td>
                <td>
                  <div class="mdc-text-field text-field-width">
                    <select
                      type="text"
                      class="mdc-text-field__input"
                      id="centre"
                      name="centre"
                      value="<%= employee.centre %>"
                    >
                      <option value="5dd532e78ebea54d004f7975"
                        >Raffles Kidz @ Yio Chu Kang</option
                      >
                      <option value="5dd532e78ebea54d004f7976"
                        >Raffles Kidz @ Bukit Panjang</option
                      >
                      <option value="5dd532e78ebea54d004f7977"
                        >Raffles Kidz @ Punggol</option
                      >
                      <option value="5dd532e78ebea54d004f7978"
                        >Raffles Kidz @ Jurong West</option
                      >
                    </select>
                    <div class="mdc-line-ripple"></div>
                    <label for="centre" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Title </label></td>
                <td>
                  <div class="mdc-text-field text-field-width">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="title"
                      name="title"
                      value="<%= employee.title %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="title" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label> Year of Joining </label></td>
                <td>
                  <div class="mdc-text-field text-field-width">
                    <input
                      type="text"
                      class="mdc-text-field__input"
                      id="joinYear"
                      name="joinYear"
                      value="<%= employee.joinYear
                    %>"
                    />
                    <div class="mdc-line-ripple"></div>
                    <label for="joinYear" class="mdc-floating-label"></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                  <P></P>
                  <button
                    type="submit"
                    class="mdc-button mdc-button--raised"
                    id="submit"
                  >
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Submit</span>
                  </button>
                  <button
                    class="mdc-button mdc-button--outlined"
                    onclick="location.href='/raffleskidz/employees'"
                  >
                    <span class="mdc-button__ripple"></span> Cancel
                  </button>
                  <P></P>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
